<!DOCTYPE html>
<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>
    <body>
        <h1>Voici une superbe liste de tâches</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/delete/<%= index %>">✘</a> <%= todo %></li>
            <% }); %>
        </ul>
        <form action="/todo/add/" method="post">
            <input type='text' name='newtodo' id='newtodo' placeholder='Nouvelle tâche'>
            <input type='submit'>
        </form>
    </body>
</html>